.PLAY {
    z-index: 1000;
    width: 90px;
    height: 90px;
    border: none;
    pointer-events:none;
    border-radius: 50%;
    position: fixed;
    overflow: hidden;
    transform: translate3d(0,0,0);
    content: "Play";
    background-color: black;
    color:white;
    font-size: 15px
}

.STOP {
    z-index: 1000;
    width: 90px;
    height: 90px;
    border: none;
    pointer-events:none;
    border-radius: 50%;
    position: fixed;
    overflow: hidden;
    transform: translate3d(0,0,0);
    content: "Play";
    background-color: white;
    cursor:none;
    color:black;
    font-size: 15px
}
