
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer:none
  
}

.button{
    background: transparent;
    border: none;
}


.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  color: #fff;
}

.container:after {
  width: 100%;
  height: 120%;
}

.video {
  margin-top: 0px;
  margin-button:0px;
  width: 100%;
  height: 150%;
  object-fit: cover;
  filter: grayscale(1);
    -webkit-filter: grayscale(1); 
  filter: grayscale(100%);
}



.page-content {
 display:block;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  color: #fff;
  margin-right: 10px;
  margin-left: 10px;
}

.page-content h1 {
  display:flex;
  font-size: 235px;
  text-align:start;
  color:white;
  line-height: 100%
}

.page-content p {
    font-size: 15px;
    padding: 230px 0px 0px 0px;
    width: 30%;
    margin-button: 30px;
    text-align: start;
    letter-spacing: 0.2px;
    word-spacing: 0.1px;
  }