.footer{
    position: absolute;
    z-index: 1;
    width: 90%;
    display: block;
    justify-content:space-between;
    align-items: center;
    padding: 0px 0px 3px 0px;
    list-style: none;
    top:98%;
    pointer:none;
    color:white
}
.footer ul {
    list-style: none;
    margin-left:0px;
    display:flex;
    justify-content:space-between;
    margin-top:0px;
    padding: 0px 0px 30px 5px;

}